body{
    background-image: linear-gradient(315deg, #0004ea 0%, #0091ea 74%);
}

h3{
    text-align: center;
}

i{
    padding-right: 10px;
}

.container{
    padding: 50px;
    margin-top: 70px;
    background-color: #FFFFFF;
    border-radius: 10px;
}

.normal{
    padding: 10px;
    padding-top: 10px;
    margin-right: 100px;
    text-align: center;
    background-image: linear-gradient(315deg, #00bbea 0%, #00bbea 74%);
}
.social{
    padding-bottom: 10px;
    padding-top: 10px;
    margin: auto;
}

.facebook{
    margin-top: 3px;
    text-align: center;
    background-color: #0004ea;
}
.google{
    text-align: center;
    background-color: red;
}

@media only screen and (min-width: 800px) {
.container{
    padding: 50px;
    margin-top: 150px;
    background-color: #FFFFFF;
    border-radius: 10px;
}
}